html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
and,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
select {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/*blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}*/
del {
  text-decoration: line-through;
}
hr {
  background: transparent;
  border: 0;
  clear: both;
  color: transparent;
  height: 1px;
  margin: 0;
  padding: 0;
}
mark {
  background-color: #ffffb3;
  font-style: italic;
}
input,
select {
  vertical-align: middle;
}
ins {
  background-color: red;
  color: white;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2 {
  font-weight: normal;
}
/*  código */

/* geral */
body {
  background-color: #1f1f24;
  font-family: "Raleway", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
}

.t2 {
  font-weight: 700;
  font-size: 0.875rem;
  color: #52beac;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 3rem;
}
.ul {
  display: grid;
  gap: 1rem;
  font-size: 1.125rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 28px;
  color: #fdfcfe;
}
.ul li a {
  opacity: 0.8;
}
.ul a:hover {
  opacity: 1;
}
/* header */

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header-nav {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  color: #fdfcfe;
  align-items: center;
}

.logo-header {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-header {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  gap: 2rem;
}
.home-a {
  position: relative;
}
.home-a::after {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 3px;
}

/* main */

.main {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* introdução pessoal */

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hero h1 {
  font-weight: 700;
  line-height: 40px;
  color: #fdfcfe;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.hero h2 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  color: #fdfcfe;
  font-size: 1.5rem;
}

/* cursos  */

.academic {
  padding-bottom: 3rem;
  color: #fdfcfe;
}

/* portfolio */

.portfolio {
  padding-bottom: 3rem;
  color: #fdfcfe;
}
